@import "../../frontkit/styles/variables.less";
@import "../../frontkit/styles/mixins.less";

body {
  padding-top: @navbar-height;
}

.footer {
  margin-top: @line-height-computed;
  padding: @line-height-computed 0;
  border-top: 1px solid lighten( @gray-light, 15% );
  background: fade( @gray-lighter, 50% );
}

.docs-sidebar .nav.nav-list .icon {
  position: absolute;
  right: ( @line-height-computed / 2 );
}

.grid-example {
  .col {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid darken( @gray-lighter, 10% );
    background-color: @gray-lighter;

    &:hover {
      background-color: darken( @gray-lighter, 5% );
    }
  }

  .row {
    margin-bottom: ( @line-height-computed / 2 );
  }
}

.docs-example + .highlight {
  position: relative;
  z-index: 1;
  margin-top: -( @line-height-computed + 3px );
  .border-top-radius( 0 );
}

#focusedInput {
  .input-focus();
}

@media screen and ( max-width: @screen-small ) {
  body {
    padding-top: 0;
  }

  .docs-article > .page-header {
    padding-top: 0 !important;
  }
}