!!!
html
	head
		title
		meta(charset="UTF-8")
		link(rel="stylesheet", href="frontkit/dist/frontkit.css")
		link(rel="stylesheet", href="assets/styles/docs.css")
	body.docs
		.docs-sidebar
			hgroup.page-header
				h3 FrontKit
			include sidebar
		.docs-content
			include pages/css

			#components