!!!
html
	head
		title
		meta(charset="UTF-8")
		link(rel="stylesheet", href="frontkit/dist/frontkit.css")
		link(rel="stylesheet", href="assets/styles/docs.css")
	body.docs
		.docs-sidebar
			hgroup.page-header
				h3 FrontKit
			include sidebar
		.docs-content
			// CSS Section
			#css
				.page-header
					h2 CSS

				// Grid System
				article#css-grid
					.page-header
						h3 Grid System

					p.lead Included within Frontkit, there is an responsive, percent-based grid system of 12 columns that scales up or down as needed.

					section#css-grid-default
						h4 Grid example
						.docs-example.grid-example
							.row
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1
								.col-span1 1

							.row
								.col-span3 3
								.col-span3 3
								.col-span3 3
								.col-span3 3

							.row
								.col-span4 4
								.col-span4 4
								.col-span4 4

							.row
								.col-span6 6
								.col-span6 6

					section#css-grid-offset
						h4 Offsetting columns
						.docs-example.grid-example
							.row
								.col-span4 4
								.col-span4.col-offset4 4 offset 4

							.row
								.col-span3.col-offset3 3 offset 3
								.col-span3.col-offset3 3 offset 3

				// Typography
				article#css-type
					.page-header
						h3 Typography

					section#css-type-paragraphs
						h4 Paragraphs
						p.
							FrontKit's <code>#{"<body>"}</code> and all paragraphs get, by default, a <code>font-size</code> of <b>14px</b> and a <code>line-height</code> of <b>20px</b>,
							which looks very good to read. Also, paragraphs get an extra bottom margin, to better separate things.

						.docs-example
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida, mi vitae ultricies bibendum, justo metus ultricies tortor, eget aliquet quam risus et turpis. Integer sed ornare nibh. Vivamus eget purus velit, sed vehicula ligula.
							p Nullam eget erat arcu. Phasellus sit amet augue eget mauris pulvinar posuere. Pellentesque convallis semper libero vitae ultrices. Donec egestas vehicula mauris ac porttitor. Donec quis urna ac tellus facilisis sollicitudin non eget purus.
							p Proin tortor nunc, scelerisque pulvinar ultricies sodales, imperdiet eget sem. Donec nec neque et ligula tristique porta in nec risus. Cras id faucibus diam. Phasellus lacus mauris, vulputate ac aliquam at, mattis et velit. Cras eu ante nisi, ac ornare neque. Morbi auctor mollis orci. Nam aliquam luctus semper. Cras varius lacinia vulputate.

						h5 Lead paragraph
						p If you need to make some paragraph stand out from the rest, just add to it the <code>lead</code> class:</p>
						.docs-example
							p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida, mi vitae ultricies bibendum, justo metus ultricies tortor, eget aliquet quam risus et turpis.

					section#css-type-headings
						h4 Headings
						p As usual, use the good 'n old HTML headings, from <code>#{"<h1>"}</code> to <code>#{"<h6>"}</code>

						.docs-example
							h1 Heading 1
							h2 Heading 2
							h3 Heading 3
							h4 Heading 4
							h5 Heading 5
							h6 Heading 6

					section#css-type-emphasis
						h4 Emphasis
						p For emphasizing your text, some default HTML tags for you.

						h5 Bold
						.docs-example
							strong Please note
							| that this is very important.

						h5 Italics
						.docs-example
							| <em>Mama mia</em>, that food was awesome!

						h5 Small text
						.docs-example
							small Don't waste your time caring about me :)

					section#css-type-text-align
						h4 Text Alignment
						p For easy realigning your text, here you have some useful classes:
						.docs-example
							p.text-left I'm at left
							p.text-center I'm centralized
							p.text-right I'm at right

					section#css-type-abbr
						h4 Abbreviations
						.docs-example
							| JavaScript is abbreviated to <abbr title="JavaScript">JS</abbr>.

					section#css-type-address
						h4 Addresses
						.docs-example
							address
								strong Mr. Foo Bar
								br
								a(href="#") foo@barcorp.com

					section#css-type-blockquote
						h4 Blockquotes
						p For quoting blocks of content from another source.

						.docs-example
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

						p If you also need to identify the source, add an <code>&lt;small&gt;</code> tag, while wrapping the source work with <code>&lt;cite&gt;</code>:
						.docs-example
							blockquote
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
								small Someone in <cite title="The Book">The Book</cite>

				// Lists
				article#css-lists
					.page-header
						h3 Lists

					section#css-lists-unordered
						h4 Unordered
						.docs-example
							ul
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								li
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									ul
										li Maecenas gravida, mi vitae ultricies bibendum
										li Maecenas gravida, mi vitae ultricies bibendum
										li Maecenas gravida, mi vitae ultricies bibendum
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.

					section#css-lists-ordered
						h4 Ordered
						.docs-example
							ol
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								li
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									ol
										li Maecenas gravida, mi vitae ultricies bibendum
										li Maecenas gravida, mi vitae ultricies bibendum
										li Maecenas gravida, mi vitae ultricies bibendum
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.

					section#css-lists-unstyled
						h4 Unstyled
						.docs-example
							ul.list-unstyled
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								li
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									ul
										li Maecenas gravida, mi vitae ultricies bibendum
										li Maecenas gravida, mi vitae ultricies bibendum
										li Maecenas gravida, mi vitae ultricies bibendum
								li Lorem ipsum dolor sit amet, consectetur adipiscing elit.

					section#css-lists-inline
						h4 Inline
						.docs-example
							ul.list-inline
								li Item 1
								li Item 2
								li Item 3

				// Code
				article#css-code
					.page-header
						h3 Code

					section#css-code-inline
						h4 Inline
						p Wrap simple snippets of code with <code>&lt;code&gt;</code>.
						.docs-example
							p I like to use <code>&lt;div&gt;</code> tags for everything!

					section#css-code-block
						h4 Block
						p For more lines of code, you should go with the <code>&lt;pre&gt;</code> tag.
						.docs-example
							pre &lt;p&gt;That's a nice paragraph!&lt;/p&gt;

				// Forms
				article#css-forms
					.page-header
						h3 Forms

					section#css-forms-default
						h4 Default styles
						p Without large changes in your markup or extra classes, you can get a nicely styled form. Results in a nice, stacked, mobile-first form.

						.docs-example
							form(method="get", action="#")
								fieldset
									legend My Form
									label Label
									input(type="text", placeholder="Type something here")
									select
										option(value="1") Select option
										option(value="2") Select option
										option(value="3") Select option

									label.checkbox
										input(type="checkbox")
										| Please check me

									input.btn(type="submit", value="Submit")

					hr

					section#css-forms-inline
						h4 Inline layout
						p Add <code>.form-inline</code> to get a compact form layout.
						.docs-example
							form.form-inline
								input(type="text", placeholder="Username")
								input(type="text", placeholder="Password")
								label.checkbox
									input(type="checkbox")
									| Remember Me
								input.btn(type="submit", value="Login")

					hr

					section#css-forms-controls
						h4 Supported controls
						p Here are examples of all supported form controls.

						h5 Inputs
						p The most common form control, text-based input field. It includes support for all HTML5 types:

						- inputTypes = [ "text", "password", "datetime", "datetime-local", "date", "month", "week", "time", "number", "email", "url", "search", "tel", "color" ]
						ul.list-unstyled.row
							each type in inputTypes
								li.col-span3
									i.icon.icon-ok
									= " " + type

						.docs-example
							input(type="text", placeholder="Type something...")

						h5 Textarea
						p Form control which supports multiple lines of text. Change <code>rows</code> attribute as necessary.

						.docs-example
							textarea(rows="3")

						h5 Checkboxes and radios
						p With checkboxes, you can select one or various options. And with radios, you'll be able to select one option from many.

						.docs-example
							label.checkbox
								input(type="checkbox")
								| I'm an awesome option

							br

							label.radio
								input(type="radio", name="radio1")
								| I'm the option 1, and I'm great

							label.radio
								input(type="radio", name="radio1")
								| I'm the option 2, and I'm better than option 1

						h5 Selects
						.docs-example
							select
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5

							select(multiple=true)
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5

					section#css-forms-extending
						h4 Extending form controls

						.docs-example
							.control-group
								input(type="text")
								button.btn

				article#css-buttons
					.page-header
						h3 Buttons

					h4 Default buttons
					table.table
						thead
							tr
								th Button
								th Classes
								th Description
						tbody
							tr
								td: button.btn Default
								td: code btn
								td Default button.
							tr
								td: button.btn.btn-primary Primary
								td: code btn btn-primary
								td Default button.
							tr
								td: button.btn.btn-link Link
								td: code btn btn-link
								td Default button.

			#components